:root {
    --wSize: calc(2.5%);
    --bgSize: 100% 100%;
    --fieldWidth: 100vw;
    --fieldHeight: 25vh;
}

body, html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.field {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    border: 2px solid #d0d0d0;
    width: var(--fieldWidth);
    height: var(--fieldHeight);
}

* {
    user-select: none;
    box-sizing: border-box;
}

.field .tile {
    background: url(images/tile-.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 5;
}

.field .tileW {
    background: url(images/tile-W.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
}

.field .tileE {
    position: relative;
    background: url(images/tile-E.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 10;
}

.field .tileP {
    position: relative;
    background: url(images/tile-P.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 10;
}

.field .tileHP {
    background: url(images/tile-HP.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 9;
}

.field .tileSW {
    background: url(images/tile-SW.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 9;
}

.field .tileE .health {
    background-color: #ff0000;
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
}

.field .tileP .health {
    background-color: #00ff00;
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
}

.info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.inventory {
    display: flex;
    flex-flow: column;
}

footer {
    padding: 5px 10px;
    margin: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    width: var(--fieldWidth);
    height: 30vh;
}

footer h1 {
    margin: 0;
    padding: 0;
}

footer .task {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: fit-content;
}

footer h2 {
    margin: 10px 0;
}

footer .controls {
    display: flex;
    flex-flow: row;
    gap: 20px;
}