body, html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.field-box {
    border: 2px solid #d0d0d0;
    float: left;
    width: 100%;
    height: 70%;
}

.field {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    --wSize: 2.5%;
    --bgSize: 100% 100%;
}

.field .tile {
    background: url(images/tile-.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 5;
}

.field .tileW {
    background: url(images/tile-W.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
}

.field .tileE {
    position: relative;
    background: url(images/tile-E.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 10;
}

.field .tileP {
    position: relative;
    background: url(images/tile-P.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 10;
}

.field .tileHP {
    background: url(images/tile-HP.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 9;
}

.field .tileSW {
    background: url(images/tile-SW.png) no-repeat;
    background-size: var(--bgSize);
    width: var(--wSize);
    z-index: 9;
}

.field .tileE .health {
    background-color: #ff0000;
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
}

.field .tileP .health {
    background-color: #00ff00;
    z-index: 11;
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
}

.inventory-box {
    border: 2px solid #d0d0d0;
    float: left;
}

.inventory {
    position: relative;
    width: 800px;
    height: 32px;
}

.cl {
    clear: both;
    display: block;
}

footer {
    margin: 0;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 30vh;
}

footer h1 {
    margin: 0;
}

footer .task {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

footer h2 {
    margin: 10px 0;
}